{% extends "base.html" %}

{% block title %}
All repos
{% endblock title %}


{% block content %}
    <h1>All repos</h1>
    <table class="table mt-5"> 
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Stars</th>
              <th scope="col">Language</th>
              <th scope="col">Link</th>
            </tr>
        </thead>

        <!-- loop to add each row (tr). might need an if stmt -->
        <tbody>
            {{ variable_if_repos_exist }}
            {% for repo in response %}
            <tr>
                <th scope="row">{{ repo.name }}</th>
                <td>{{ repo.size }}</td>
                <td>{{ repo.stargazers_count }}</td>
                <td>{{ repo.language}}</td>
                <td><a class="btn btn-light btn-sm" href="{{ repo.html_url }}" target="_blank">View</a></td>
            </tr>
            {% endfor %}
        </tbody>

        
    </table>
{% endblock content %}