{% extends "base.html" %}

{% block title %}
Repo Peeper - Home
{% endblock title %}


{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <h1 class="display-4">Repo Peeper Home</h1>
  <p class="lead">View <a href="allrepos/">all repos</a></p>
  <hr class="my-4">
  <p>Edit this to include your content.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
  </p>
</div>

<p>More stuff. {{ example_context_variable }}.</p>

{% endblock content %}


